{{define "company-info"}}
    <div>
        <div class="container-fluid" style="padding: 10px 0px 0px 0px;">
            <div class="row no-gutters small">
                <div class="col-12">
                    <strong>Business Name</strong> <br>
                    <p class="text-muted">Amigo Softcom LLP</p>
                </div>
                <div class="col-12">
                    <strong>Registered Office Address</strong> <br>
                    <p class="text-muted">UG-006, MGF Metropolis Mall Gurugram, Haryana 122002</p>
                </div>
                <div class="col-6">
                    <p> <strong>GSTIN </strong> <br> <span class="text-muted"> 06ABWFA0197P1ZN </span> </p>
                </div>
                <div class="col-6">
                    <strong>Contact Number</strong> <br>
                    <p class="text-muted">
                        <a href="tel:+919910606373">
                            +919910606373
                        </a>
                    </p>
                </div>
                <!-- <div class="col-8">
                    <small>
                        Copyright @ Roovo 2023. All Rights Reserved.
                    </small>
                </div>
                <div class="col-4" style="text-align: right;">
                    <small>
                        Amigo Softcom LLP
                    </small>
                </div> -->
            </div>
        </div>
    </div>
{{end}}