<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/global.css">
    <title>Roovo - Exchange and Return Policy</title>
    <style>
        #content,
        p,
        li {
            text-align: justify;
            text-justify: inter-word;
            color: #64607D !important;

        }

        h5 {
            color: #201254 !important;
        }

        .heavy {
            font-weight : 600;
        }

        .big {
            font-size: 1.2rem;
        }

        table td {
            padding: 0.5rem;
        }
    </style>
</head>

<body>
    <div id="body">
        
        <div class="header">
            {{template "websiteHeaderWBack" dict "head" "Return Policy"}}
        </div>

        <div class="container scrollableBody">
            <div class="container">
                <!-- a navbar that's always on top and has a logo in the middle -->

                <div class="row text-center mt-4">
                    <div class="col-12">
                        <h5>Return Policy</h5>
                    </div>
                </div>

            {{template "company-info"}}


                <div class="row">
                    <div class="col-12" id="content">

                        <ol  start="1">
            <li ><span >Under the Terms &amp; Conditions that Sellers agree upon,
                    products are returnable within the return window if a user receives a product that is physically
                    damaged, has missing parts or accessories, is defective or different from their description on the
                    product detail page. All products listed under a particular category may have a different returns
                    policy. Users are required to check &amp; verify the return policy before ordering a product.</span>
            </li>
            <li ><span >Certain items are non-returnable as per the terms
                    stipulated under Annexure A (refer to the table provided at the end of this Policy) of this Policy. Any
                    attempt to return such items will not be accepted and no refund or exchange will be provided.</span>
            </li>
            <li ><span >Roovo is only responsible for arranging to troubleshoot the
                    users&#39; complaints and directing the users to the Sellers. The ultimate responsibility for the
                    replacement or refund lies with the Sellers.</span></li>
            <li ><span >Return will only be processed if:</span></li>

                <ol type="a"  start="1">
                    <li ><span >It is determined that the product was not damaged while in
                            your possession;</span></li>
                    <li ><span >The product is not different from what was shipped to you;
                            and</span></li>
                    <li ><span >The product is returned in the condition that it was
                            received including the original box, MRP tag, user manual, warranty card, and all accessories)</span>
                    </li>
                </ol>
        </ol>

        <ol  start="5">
            <li ><span >In case a user wants to return an electronic device that
                    stores personal information, the user himself/herself shall be responsible for ensuring that all
                    personal information stored in the device is deleted and the device is returned to factory settings.
                    Roovo will not be liable in any manner for any misuse or usage of such information.</span></li>
            <li ><span >For all products, the returns/replacement policy provided on
                    the product page (if a product-specific policy exists) shall prevail over the general returns policy.
                    Else the general returns policy shall be applicable. Do refer to the respective item&#39;s applicable
                    return/replacement policy on the product page for any exceptions to this returns policy. In certain
                    cases, a product may be &lsquo;non-returnable&rsquo;. In such cases, the product page will specifically
                    highlight this and the user cannot claim a return/replacement at a later stage.</span></li>
            <li ><span >In case the Seller is unable to provide a replacement for
                    the product, in that case, a refund will be provided.</span></li>
            <li ><span >During a return/replacement pickup, the product will be
                    checked for the following:</span></li>
        <ol  start="1" type="a">
            <li ><span >Correct &amp; complete product: The same
                    IMEI/Name/Brand/Serial number should be clearly visible along with all the accessories, etc..</span>
            </li>
            <li ><span >The product should be unused, unwashed, unsoiled, without
                    any stains, and with non-tampered quality checks/warranty seals (wherever applicable)</span></li>
            <li ><span >The product and packaging should not be damaged and should
                    be in the condition that it was received.</span></li>
            <li ><span >The pickup executive is free to refuse to accept the product
                    for pick-up in case the above conditions are not met.</span></li>
        </ol>
        </ol>

        <ol  start="9">
            <li ><span >For a category-wise understanding of our return,
                    replacement, and refund policy </span><span >please check the category-wise returns policy
                    below.</span></li>
        </ol>
        <p ><span ></span></p>
        <p ><span class="heavy big" >Electronics</span></p>
        <p ><span ></span></p>
        <ol  start="1" type="a">
            <li ><span class="heavy">Defective Cases</span></li>
        </ol>
        <p ><span ></span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging to troubleshoot products if
                    the ticket is raised within 5 days from delivery. Upon non-resolution, the option of replacement will be
                    given</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span ></span></p>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging to troubleshoot the product
                    if the ticket is raised within 5 days from delivery and upon non-resolution if a replacement is not
                    chosen return+refund will be done</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy damaged cases </span></li>
        </ul>
        <p ><span ></span></p>
        <ol  start="2"  type="a">
            <li ><span class="heavy ">Damaged Cases (visual)</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    the ticket is raised within 5 days of delivery</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and return+refund will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span ></span></p>
        <ol  start="3"  type="a">
            <li ><span class="heavy ">Missing Items</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a missing product delivery if
                    the ticket is raised within 3 days of delivery</span></li>
            <li ><span >The issue will not be entertained after 3 days from
                    delivery.</span></li>
        </ul>
        <p ><span ></span></p>
        <ol  start="4"  type="a">
            <li ><span class="heavy ">Wrong Product/Size-Related Issue</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    the ticket is raised within 3 days of delivery</span></li>
            <li ><span >After 3 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span ></span></p>
        <ol  start="5"  type="a">
            <li ><span class="heavy ">Not Satisfied with Quality/Size Issue</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and the user is accepting a replacement</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if a replacement is not chosen return+refund will
                    be done</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span ></span></p>
        <p ><span class="heavy big">Home Solutions</span></p>
        <p ><span class="heavy ">Defective Cases</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Damaged cases (visual)</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and return+refund will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy">Missing Items</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a missing product delivery if
                    ticket is raised within 3 days from delivery</span></li>
            <li ><span >Issue will not be entertained after 3 days from delivery.</span>
            </li>
        </ul>
        <p ><span class="heavy">Wrong Product/Size-Related Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    the ticket is raised within 3 days from delivery</span></li>
            <li ><span >After 3 days from the delivery user will be redirected to the
                    partner and replacement will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Not Satisfied With Quality/Size Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and user is accepting a replacement</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy big">F&amp;B</span></p>
        <ol  start="1">
            <li ><span class="heavy ">Defective Cases</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 3 days of receiving the product</span></li>
            <li ><span >Roovo will not be responsible for any damange or quality related
                    issues post 3 days of delivery.</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 3 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >Roovo will not be responsible for any damage or quality related
                    issues post 3 days of delivery.</span></li>
        </ul>
        <p ><span ></span></p>
        <ol  start="2">
            <li ><span class="heavy ">Damaged Cases (Visual)</span></li>
        </ol>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 2 days of receiving the product</span></li>
            <li ><span >Roovo will not be responsible for any damage or quality related
                    issues post 2 days of delivery.</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 2 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 2 days from delivery user will be redirected to the
                    partner and return+refund will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Missing Items</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a missing product delivery if
                    ticket is raised within 3 days from delivery</span></li>
            <li ><span >Issue will not be entertained after 3 days from delivery.</span>
            </li>
        </ul>
        <p ><span class="heavy ">Wrong Product/Size Related Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    the ticket is raised within 3 days from delivery</span></li>
            <li ><span >After 3 days from the delivery user will be redirected to the
                    partner and replacemente will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Not Satisfied with Quality/Size Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 3 days of receiving the product and user is accepting a replacement</span></li>
            <li ><span >After 3 days from delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 3 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 3 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy big">Apparel</span></p>
        <p ><span class="heavy ">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Defective Cases</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Damaged cases (visual)</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    ticket is raised within 3 days from delivery</span></li>
            <li ><span >After 3 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and return+refund will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Missing Items</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a missing product delivery if
                    ticket is raised within 3 days from delivery</span></li>
            <li ><span >Issue will not be entertained after 3 days from delivery.</span>
            </li>
        </ul>
        <p ><span class="heavy ">Wrong Product/Size Related Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    ticket is raised within 3 days from delivery</span></li>
            <li ><span >After 3 days from delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Not Satisfied With Quality/Size Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and user is accepting a replacement</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from the delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span ></span></p>
        <p ><span class="heavy big">Beauty, Personal Care &amp; Wellness</span></p>
        <p ><span class="heavy ">Damaged cases (visual)</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    ticket is raised within 5 days from delivery</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and return+refund will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Missing Items</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a missing product delivery if
                    the ticket is raised within 3 days from delivery</span></li>
            <li ><span >Issue will not be entertained after 3 days from delivery.</span>
            </li>
        </ul>
        <p ><span class="heavy ">Wrong Product/Size Related Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement of products if
                    the ticket is raised within 3 days from delivery</span></li>
            <li ><span >After 3 days from the delivery user will be redirected to the
                    partner and replacemente will be subject to the partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy ">Not Satisfied With Quality/Size Issue</span></p>
        <p ><span >Replacement</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and user is accepting a replacement</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacement will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span >Refund</span></p>
        <ul >
            <li ><span >Roovo is responsible for arranging a replacement if the ticket
                    is raised within 5 days of receiving the product and if replacement is not chosen return+refund will be
                    done</span></li>
            <li ><span >After 5 days from delivery user will be redirected to the
                    partner and replacemente will be subject to partner&#39;s policy</span></li>
        </ul>
        <p ><span class="heavy big">ANNEXURE A &ndash; NON-REFUNDABLE ITEMS</span></p>
        <p ><span ></span></p>
        <p ><span ></span></p><a id="t.5ce1d15359edd6f76d4daeb35ee63075b33f17dd"></a><a
            id="t.0"></a>
        <table border=1>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Category</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Return Policy</span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Staples ( Atta, Flours &amp; Sooji, Dals &amp; Pulses, Rice &amp;
                            Rice Products, Edible Oils, Masalas &amp; Spices, Salt, Sugar &amp; Jaggery, Soya Products,
                            Wheat &amp; Other Grains, Dry Fruits &amp; Nuts )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Snacks ( Foods, Biscuits &amp; Cookies, Noodle, Pasta, Vermicelli,
                            Breakfast Cereals, Snacks &amp; Namkeen, Chocolates &amp; Candies, Ready To Cook &amp; Eat,
                            Frozen Veggies &amp; Snacks, Spreads, Sauces, Ketchup, Indian Sweets Pickles &amp; Chutney,
                            Extracts &amp; Flavouring )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non- Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Beverages ( Tea, Coffee, Fruit juices, Energy &amp; Soft Drinks,
                            Health Drink &amp; Supplement, Soda &amp; Flavoured Water )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Personal Care ( Hair Care, Oral Care, Sexual Wellness, Skin Care,
                            Bath &amp; Hand Wash, Body Wash &amp; Bathing Accessories, Feminine Hygiene, Men&rsquo;s
                            Grooming, Cosmetics and Beauty Products, Deodrants &amp; Fragrances, Health &amp; Wellness,
                            Grooming Tools and Accessories )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Home Care (Detergents, Dishwash, All Purpose Cleaners, Fresheners
                            &amp; Repellents )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Sports, Toys, and Luggage &ndash; Outdoor games &ndash; Holi
                            colours, Holi accessories</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non- Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Mom &amp; Baby Care (Baby Grooming, Baby Bath &amp; Hygiene, Baby
                            Food &amp; Formula, Diapers &amp; Wipes, Feeding, Baby Health &amp; Wellness )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non- Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Lingerie, innerwear, and swimwear; Cosmetics; Socks and stockings;
                            Hair Accessories</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non- Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Books</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Electronics - Personal Care &amp; Grooming - Oral care (Power
                            Toothbrushes, Water Flossers and Accessories); Grooming (shavers, trimmer, epilator); Audio (in
                            ear-earphones/ ear-bud)</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Electronics &ndash; Games &ndash; (Gaming Titles, Online Gaming,
                            Skins/ Thumbgrip/ Consumables)</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non- Returnable</span></p>
                    <p ><span ></span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >All Pet Food (including Dog, Cat, Bird, Fish, Turtle etc.) and
                            Grooming Aids and Accessories, Cat Litter &amp; Accessories, Health &amp; Hygiene, Harness and
                            Collars</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Footwear Accessories (Oils, Glue, Grease, Socks, Shoe Deodorants/Polish
                            Creams/Sprays and Wax)</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Furniture (Bedroom, Living, Dining, Outdoor, Indoor)</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                    <p ><span ></span></p>
                </td>
            </tr>
            <tr >
                <td  colspan="1" rowspan="1">
                    <p ><span >Disposable ( Plates &amp; Glasses, Kitchen &amp; Toilet Rolls,
                            Paper Tissues &amp; Napkins )</span></p>
                </td>
                <td  colspan="1" rowspan="1">
                    <p ><span >Non-Returnable</span></p>
                </td>
            </tr>
        </table>
                {{template "basicFooter"}}

            </div>

        </div>
    </div>
    </div>
</div>
{{template "outer-section"}}
</body>
{{template "tracking"}}
<script>
</script>

</html>