{{define "outer-section"}}
    <img src="/static/assets/desktop-logo.svg" class="outer-logo" onclick='window.location.assign("/")'/>
    <div class="scroll-section" id="scroll-section">
        <div class="scroll-text">
            Scroll & Explore
        </div>
        <img src="/static/assets/desktop-arrow.svg" class="outer-arrow"/>
    </div>
    <div class="outer-navbar">
        <div class="upper-navbar">
            <a href="/privacy-policy">
                Privacy Policy
            </a>
            <a href="/terms-and-conditions">
                T&C
            </a>
            <a href="/return-policy">
                Return Policy
            </a>
            <a href="/price-and-payment-policy">
                Price & Payment Policy
            </a>    
            <a href="/online-registration-policy">
                User Policies
            </a>
            <a href="/about-us">
                About Us
            </a>
            <a href="/contact-us">
                Contact Us
            </a>        
        </div>
        <div class="lower-navbar">
            <p>Business Name: Amigo Softcom LLP</p>
            <p>Copyright @ Roovo 2023. All Rights Reserved.</p>
            <div class="coupled">
                <p class="">GSTIN: 06ABWFA0197P1ZN</p>
                <p class="">CIN : AAY-3370</p>
            </div>
        </div>
    </div>
{{end}}