<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/global.css">
    <title>Roovo - Price and Payment Policy</title>
    <style>
        #content,
        p,
        li {
            text-align: justify;
            text-justify: inter-word;
            color: #64607D !important;

        }

        h5 {
            color: #201254 !important;
        }
    </style>
</head>

<body>
    <div id="body">
    

    <div class="header">
        {{template "websiteHeaderWBack" dict "head" "Price and Payment"}}
    </div>

    <div class="container" style="height: 100%;overflow: scroll;">
        <!-- a navbar that's always on top and has a logo in the middle -->

        <div class="row text-center mt-4">
            <div class="col-12">
                <h5>Price and Payment Policy</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12" id="content">
                <p><span></span></p>
                <p><span>We make every effort to ensure that the prices featured on our website are correct. Our prices
                        are
                        inclusive of all applicable taxes, and we do not charge any additional taxes or fees.</span></p>
                <p><span></span></p>
                <p><span>However, errors may occur, and if we discover an error in the price of any of the products that
                        you have
                        ordered, we will inform you as soon as possible and give you the option of confirming your order
                        at the
                        correct price or canceling it. If we are unable to contact you, the order will be considered
                        canceled, and
                        all amounts paid will be refunded to you in full.</span></p>
                <p><span></span></p>
                <p><span>Please note that we are not obligated to provide you with any product at an incorrect lower
                        price (even
                        when we have sent the Shipping Confirmation) if the error in the price is obvious and
                        unmistakable and could
                        have reasonably been recognized by you as an incorrect price.</span></p>
                <p><span></span></p>
                <p><span>The prices on the website include all applicable taxes and delivery charges. The prices may
                        change at any
                        time without notice, but once you have placed an order, the price of the product will not
                        change.</span></p>
                <p><span></span></p>
                <p><span>By placing an order with us, you acknowledge that you have read and agree to our pricing
                        policy. If you
                        have any questions or concerns about our policy, please contact us at </span><span><a
                            href="mailto:support@roovo.in">support@roovo.in</a></span><span>.</span></p>
                <p><span></span></p>

            </div>
        </div>


    </div>

    </div>
    {{template "outer-section"}}
</body>
{{template "tracking"}}
<script>
</script>

</html>