{{define "product"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Name}}</title>
</head>

<body>
    <div id="body">
        <h1>Hellp</h1>
        <h2>{{.product.Name}}</h2>
        <div class="images">
            {{range .product.Images}}
            <img src='{{getImageURL 500 .}}' alt="">
            {{end}}
        </div>
    </div>
    {{template "outer-section"}}
</body>

</html>

{{end}}