{{define "rating"}}
    <fieldset class="rating" name="rating">
        <input type="radio" id="star5" name="rating" value=5 checked/><label class = "full" for="star5" title="5"></label>
        <input type="radio" id="star4" name="rating" value=4 /><label class = "full" for="star4" title="4"></label>
        <input type="radio" id="star3" name="rating" value=3 /><label class = "full" for="star3" title="3"></label>
        <input type="radio" id="star2" name="rating" value=2 /><label class = "full" for="star2" title="2"></label>
        <input type="radio" id="star1" name="rating" value=1 /><label class = "full" for="star1" title="1"></label>
    </fieldset>
{{end}}